.bg-white {
    background-color: #ffffff;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-64 {
    height: 64px;
  }
  
  .object-cover {
    object-fit: cover;
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .text-gray-900 {
    color: #212121;
  }
  
  .text-base {
    font-size: 1rem;
  }
  
  .text-gray-700 {
    color: #757575;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .bg-gray-200 {
    background-color: #ededed;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .py-1 {
    padding-top: 0.25rem;
   
  }  